name: Release
on:
  push:
    branches:
      - main
      - beta
      - alpha
      - pre

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

env:
  HUSKY: 0

jobs:
  call-shared-workflow:
    uses: rodbe-io/shared-workflows/.github/workflows/release.yaml@main
    with:
      enable-test-unit: true
    secrets: inherit
